name: Node.js CI

on:
  push:
    branches: 
        - main
        - testing
  pull_request:
    branches: 
        - main
        - testing

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Node.js
      uses: actions/setup-node@v4
      with:
        node-version: '20.19.0' 
      
    - name: Build TypeScript
      run: npm run build
      working-directory: ./client
      
    - name: Run tests
      run: npm test
      working-directory: ./clientS